<div class="confirmation_ok_cancel">
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="formAdditionalParams" data-dojo-attach-event="onSubmit: submit" accept-charset="utf-8" method="post">
		<table class="align_center" style="width: 100%">
			<tr>
				<td colspan="2" data-dojo-attach-point="nodeMessage" class="message">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" data-dojo-attach-point="nodeContent" style="display: none;">&nbsp;</td>
			</tr>
			<tr data-dojo-attach-point="nodeListAnchor">
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td width="50%"><button data-dojo-type="dijit/form/Button" type="button" value="1" data-dojo-attach-event="onClick: actionOk">Да</button></td>
				<td><button data-dojo-type="dijit/form/Button" type="button" value="1" data-dojo-attach-event="onClick: actionCancel">Отмена</button></td>
			</tr>
		</table>
	</form>
</div>